// COLORS VARIABLES
:root {
    --color-primary-blue: #1E325C;
    --color-primary-yellow: #FFCB1F;
    --color-secondary-blue: #14213D;
    --color-secondary-yellow: #FFC300;
    --color-black: #000;
    --color-white: #FFF;
    --color-off-white: #F5F5F5;
    --color-grey: #E5E5E5;

}

* {
    margin: 0;
    padding: 0;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    line-height: 1.6;
    


    min-height: 100vh;
}