// COLORS VARIABLES
:root {
    --color-primary-blue: #1E325C;
    --color-primary-yellow: #FFCB1F;
    --color-secondary-blue: #14213D;
    --color-secondary-yellow: #FFC300;
    --color-black: #000;
    --color-white: #FFF;
    --color-off-white: #F5F5F5;
    --color-grey: #E5E5E5;
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    padding: 0 3rem;
}

body {
    color: var(--color-black);
    background-color: var(--color-off-white);
    min-height: 100vh;
}

.container {
    display: grid;
    grid-template-rows: min-content min-content 25vh;
    grid-template-columns: [sidenav-start] 24rem [sidenav-end full-start] minmax(3rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(3rem, 1fr) [full-end];
    // max-width: 150rem;
    // margin: 4rem auto;
}
