// FONTS VARIABLES
:root {
    --font-text:'Red Hat Mono', monospace;
    --font-header:'Lato', sans-serif;
    --font-large: 5rem;
    --font-medium: 3.5rem;
    --font-small: 2.5rem;
    --font-xs: 1.8rem;
    --font-weight-light: 300;
    --font-weight-medium: 400;
}

body {
    font-family: var(--font-text);
    font-weight: var(--font-weight-medium);
    font-size: var(--font-xs);
    line-height: 1.7;
}

.h1,
.h2,
.h3 {
    font-family: var(--font-header);
    text-transform: uppercase;
}

.h1 {
    font-size: var(--font-large);
}

.h2 {
    font-size: var(--font-medium);
}

.h3 {
    font-size: var(--font-small);
}

.paragraph {
    font-weight: var(--font-weight-light);
}
