.sections {
    // position: relative;
    grid-column: full-start / full-end;
    display: grid;
    align-items: start;
}

.section {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50vw, 1fr));
    grid-template-rows: auto;
    grid-row-gap: 1.5rem;
    padding: 2rem 1rem 2rem 5rem;

    &__about {
        padding: 3rem 1rem;
        min-height: 60rem;
        display: grid;
        align-items: center;
    }

    &__offerings {
        
        &--cards {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            padding-top: 5rem;

        }
        &--card {
            flex: 0 0 30%;
            height: 55rem;
            align-items: center;
            margin: 0 3rem;
            background-color: var(--color-grey);
            display: flex;
            // flex-wrap: wrap;
            justify-content: center;
        }

    }

}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .15;
    overflow: hidden;

    &__content {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}