.footer {
    background-color: var(--color-primary-yellow);
    color: var(--color-primary-blue);
    grid-column: full-start / full-end;
    padding: 4rem;
    // opacity: .8;
    

    &__memberships {
        justify-content: space-around;
        display: flex;
        position: relative;
    }
    &__company-info {
        justify-content: center;
    }

    &__membership {
            align-items: center;
            height: 15rem;
            width: auto;
            position: relative;
            display: flex;
            flex-direction: column;
    }
        
        &__membership-img {
            justify-content: center;
            display: flex;
            width: 10rem;
            height: 10rem;
            margin-bottom: 2rem;
        }

        &__membership-img-prs {
            width: auto;
        }

        &__copyright {
            display: flex;
            justify-content: center;
            margin-top: 6rem;
        }

        &__link {
            text-decoration: none;
            color: var(--color-black);
        }
}