.header {
    background-color: var(--color-off-white );
    color: var(--color-primary-yellow);
    grid-column: full-start / full-end;
    display: grid;
    grid-template-rows: repeat(2, min-content);

    &__contacts {
        display: flex;
        align-items: center;
        justify-content:end;
        background-color: var(--color-primary-blue);

        &--email {
            margin: 2rem 3rem;
            font-family: var(--font-header);
            letter-spacing: 1px;
            font-size: 1.8rem;
            transition: all .5s;

            &-address, 
            &-address:visited,
            &-address:active {
                margin: 3rem 3rem;
                color: var(--color-grey);
                text-decoration: none;
            }

            &-address:hover,
            &-address:active:hover {
                text-decoration: underline;
                transform: translateX(3px);
            }
        }

        &--email a {
            text-decoration: none;
        }

        &--book-box {
            background-color: var(--color-primary-yellow);
            border-radius: 25px;
            height: auto;
            cursor: pointer;
            margin-right: 5rem;
            transition: all .5s;
        }

        &--book-box:hover {
            background-color: var(--color-secondary-yellow);
            transform: translateY(3px);
        }
       
        &--book-link:link, 
        &--book-link:visited, 
        &--book-link:active {
            margin: .45rem 3rem;
            color: var(--color-primary-blue);
            text-decoration: none;
            font-weight: bold;
            display: flex;
        }
        &--icon {
            width: 3rem;
            height: 3rem;
            margin-right: 1.2rem;
            // padding-top: .8rem;
            fill: currentColor;
        }
    }
    &__logo {
        justify-self: start;
        margin: 3rem 0;

        &--img {
            
            height: 20rem;
        }
    }

}

