<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="keywords" content="" />
<meta name="author" content="Neringa Bickmore"/>
<meta name="Description" content="This is a property business portfolio application"/>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Red+Hat+Mono:wght@300;400&display=swap" rel="stylesheet">

<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" type="text/css"> -->

<link rel="stylesheet" href="{{ url_for( 'static', filename='css/main.min.css' ) }}" type="text/css">

<link rel="apple-touch-icon" sizes="180x180" href="#"/>
<link rel="icon" sizes="32x32" href="#"/>
<link rel="icon" sizes="16x16" href="#"/>

<title>Steel-on-steel</title>